<%- include('includes/head', {pageTitle: 'An error occured' }) %>
  <link rel="stylesheet" href="./styles/error.css">
  </head>

  <body>
    <%- include('includes/header') %>
      <main>
        <h1>Not authenticated!</h1>
        <p>Youare not authenticated! Please check your details if you are not admin then you can't access this.</p>
        <p><a class="btn" href="/">Back to Safety!</a></p>
      </main>
      <%- include('includes/footer') %>