<%- include('includes/head', {pageTitle: 'An error occured' }) %>
  <link rel="stylesheet" href="./styles/error.css">
  </head>

  <body>
    <%- include('includes/header') %>
      <main>
        <h1>Not Authorized!</h1>
        <p>You are not authorized! Please <a href="/signup"> Signup </a>or <a href="/login">Login </a>first</p>
        <p><a class="btn" href="/">Back to Safety!</a></p>
      </main>
      <%- include('includes/footer') %>