<%- include('includes/head', {pageTitle: 'An error occured' }) %>
  <link rel="stylesheet" href="./styles/error.css">
  </head>

  <body>
    <%- include('includes/header') %>
      <main>
        <h1>Could not find resources!</h1>
        <p>Unfortunately! We could not find the requested resource - Please try again later or Back to home</p>
        <p><a class="btn" href="/">Back to Safety!</a></p>
      </main>
      <%- include('includes/footer') %>