<%- include('includes/head', {pageTitle: 'An error occured' }) %>
  <link rel="stylesheet" href="./styles/error.css">
  </head>

  <body>
    <%- include('includes/header') %>
      <main>
        <h1>Something Went Wrong!</h1>
        <p>Unfortunately! Something went wronng - Please try again later.</p>
        <p><a class="btn" href="/">Back to Safety!</a></p>
      </main>
      <%- include('includes/footer') %>