<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;800&display=swap" rel="stylesheet">
  <link rel="icon" href="/images/favicon/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/images/favicon/favicon-32x32.png" sizes="32x32" type="image/png">
  <link rel="icon" href="/images/favicon/favicon-16x16.png" sizes="16x16" type="image/png">
  <link rel="stylesheet" href="/styles/base.css">
  <link rel="stylesheet" href="/styles/navigation.css">
  <script src="/scripts/mobile.js" defer></script>
  <script src="/scripts/navigation.js" defer></script>
  <title>
    <%= pageTitle %>
  </title>