h1 {
  text-align: center;
}

.order-item {
  background-color: var(--color-natures-accent-50);
  color: var(--color-gray-700);
  border-radius: var(--border-radius-small);
  padding: var(--space-4);
  margin: var(--space-4) 0;
}

.order-summary {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: var(--space-4);
  margin-bottom: var(--space-2);
}

.order-summary h2,
.order-summary p {
  font-size: 1.25rem;
  font-weight: normal;
  margin: 0;
  margin-left: 2rem;
}

img {
  width: 20%;
  height: 6rem;
  object-fit: cover;
  border-radius: var(--border-radius-medium);
  border: 1px solid var(--color-gray-100);
}

.order-item-price {
  color: var(--color-primary-500);
}

.order-item .status {
  display: flex;
  min-width: 15rem;
}

.order-item .status .badge {
  margin-right: var(--space-4);
}

.order-details ul {
  list-style-type: decimal;
  margin-left: var(--space-8);
}

.order-details li {
  margin-bottom: var(--space-2);
}

.order-item select {
  font: inherit;
  padding: var(--space-2);
  border-radius: var(--border-radius-small);
}

@media (min-width: 48rem) {
  .order-summary {
    flex-direction: row;
  }
}