<%- include('../../shared/includes/head', {pageTitle: 'Add New Product' }) %>
  <link rel="stylesheet" href="/styles/forms.css">
  <script src="/scripts/image-preview.js" defer></script>
  </head>

  <body>
    <%- include('../../shared/includes/header') %>
      <main>
        <h1>Update Products</h1>
        <%- include('../includes/product-form', {submitPath: '/admin/products/' + product.id, product: product,
          imageRequired: false}) %>
      </main>
      <%- include('../../shared/includes/footer') %>